{% load static %}
<section id="testimonial" class="testimonial section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
            <div class="item">
              <div class="testimonial-item">
                <div class="img-thumb">
                  <img src="{% static 'img/testimonial/img1.jpg' %}" alt="">
                </div>
                <div class="info">
                  <h2><a href="#">José Ferreira</a></h2>
                  <h3><a href="#">Soldado</a></h3>
                </div>
                <div class="content">
                  <p class="description">O aplicativo criado pela corporação facilitou minha atividade operacional.</p>
                  <div class="star-icon mt-3">
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-half"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="img-thumb">
                  <img src="{% static 'img/testimonial/img2.jpg' %}" alt="">
                </div>
                <div class="info">
                  <h2><a href="#">Ana Paula</a></h2>
                  <h3><a href="#">Sargento</a></h3>
                </div>
                <div class="content">
                  <p class="description">Meu negócio é pegar atestados. Então não preciso do serviço.</p>
                  <div class="star-icon mt-3">
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-half"></i></span>
                    <span><i class="lni-star-half"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="img-thumb">
                  <img src="{% static 'img/testimonial/img3.jpg' %}" alt="">
                </div>
                <div class="info">
                  <h2><a href="#">Barcelos</a></h2>
                  <h3><a href="#">Sargento</a></h3>
                </div>
                <div class="content">
                  <p class="description">Não gosto de atender boletins de ocorrência. Portanto, a instituição está perdendo tempo em desenvolver isso.</p>
                  <div class="star-icon mt-3">
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-half"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="img-thumb">
                  <img src="{% static 'img/testimonial/img4.jpg' %}" alt="">
                </div>
                <div class="info">
                  <h2><a href="#">Jaqueline Oliveira</a></h2>
                  <h3><a href="#">Coronel</a></h3>
                </div>
                <div class="content">
                  <p class="description">Excepcional o serviço prestado pela instituição. Irá ajudar muito os militares.</p>
                  <div class="star-icon mt-3">
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-half"></i></span>
                    <span><i class="lni-star-half"></i></span>
                    <span><i class="lni-star-half"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>